*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: #2CB3F3;
}
header{
    position: absolute;
    margin: 3% 0 0 35%;
}

h1{
    font-size: 36px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

p{
    font-size: 3vh;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cabeca{
    display: flex;
    background-color: #fff;
    position: relative;
    height: 60vh;
    width: 50vw;
    top: 30vh;
    left: 25vw;
    border-radius: 15% 15% 0 0;
}

.face{
    background-color: #ffe1c9;
    height: 45vh;
    width: 40vw;
    position: absolute;
    border-radius: 50%;
    left: 12%;
    top: 7.5vh;
}

.olho-esquerdo{
    background-color: #000;
    height: 6vh;
    width: 3vw;
    border-radius: 50%;
    position: absolute;
    left: 10vw;
    top: 10vh;
}

.olho-direito{
    background-color: #000;
    height: 6vh;
    width: 3vw;
    border-radius: 50%;
    position: absolute;
    right: 10vw;
    top: 10vh;
}

.login{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 13vw;
    top: 26vh;
    width: 15vw;
}

.login input{
    border: 1px solid #000;
    height: 4.5vh;
    padding: 1vw;
    margin-bottom: 0.01vh;
    border-radius: 2.5%;
}

.button button{
    background-color: #55a603;
    width: 12vw;
    height: 8vh;
    position: relative;
    color: #fff;
    text-transform: uppercase;
    top: 35vh;
    left: 45vw;
    border-radius: 10%;
    border: none;
    box-shadow: 0px 4px 4px #000;
    margin-bottom: 20%;
}